@import "tailwindcss";

@theme {
  --color-gold-400: #FBBF24;
  --color-gold-500: #F59E0B;
  --color-gold-600: #D97706;
  --color-dark-900: #050505;
  --color-dark-800: #0a0a0a;
  --color-dark-700: #121212;
  --color-neon-blue: #3b82f6;
  
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --background: #050505;
  --foreground: #f4f4f5; /* zinc-100 */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(245, 158, 11, 0.3); /* gold-500 */
  color: #fff;
}
